

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-color: #b4b4b4;
}
.navbar-content{
padding:1% 1% 1% 8%;
background-color: #242323;

}
.text-accent{
background-color:rgb(4, 171, 171) ;
}
.nav-link{
color: aliceblue !important;
}
.crypto{
color: aliceblue;
}
.sign {
border-color: gray;
color: white;
background-color: rgba(0, 0, 0, 0.1);
}
.sign:hover {
background-color: white;
color: black;
border: 1px solid white;
}
.sign-2 {
border-color: white;
color: white;
background-color: rgb(0, 0, 0, 0.1);
}
.sign-2:hover {
background-color: white;
color: black;
border: 1px solid white;
}
.bar-toggler{
background-color: gray;
color: aliceblue;
}
h2 {
color: aliceblue;
font-size: 20px;
}
h1 {
color: aliceblue;
}
.reg {
border-color: black;
color: white;
background-color: rgb(4, 171, 171);
}
.reg:hover {
background-color: rgba(60, 176, 176);
color: white;
}
.home{
height: 1000px;/* Full viewport height */
background: url('assect/image/cryptoimg.jpg') fixed ;
background-size: cover;
display: flex;
position:relative;
justify-content:center;
align-items:center;
width: 100%;
background-position: center;
}
.spin {
animation: spin 5s linear infinite;
border-radius: 70%;
}
@keyframes spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
.cryptohome {
text-align: center;
width: 100%;
}
.home-1{
display: flex;
}
.button {
border:none ;
color: aliceblue;
padding: 14px;
font-size: 16px;
cursor: pointer;
border-radius: 12px
}
.button-2{
border: 1px solid gray;
padding: 16px;
font-size: 16px;
cursor: pointer;
border-radius: 10px
}
.intro{
color: rgb(53, 176, 176);
font-size: 80px;
}
hr{
border-style: 15px;
border-color: black;
border-width:2px 0 0 0 ;
height: 1px;
width: 40px;
margin: 1% 0 4% 48%;
}
.about{
margin: 0;
}
.about-4{
width:100% ;
text-align: start;
}
.about-con{
width: 100%;
display: flex;
margin: 0;
}
.about-1{
width: 50%;
}
.about-2{
width: 100%;
height: 70%;
}
iframe{
width: 100%;
height: 100%;
}
.wall{
background-image: url('assect/image/pablowall.jpg') ;
}
.tro{
color:rgb(4, 171, 171);
}
.columns {
float: left;
width: 33.3%;
padding: 8px;
}
.price {
list-style-type: none;
border: 1px solid #ccc;
margin: 0;
padding: 0;
-webkit-transition: 0.3s;
transition: 0.3s;
background-color: #cccccc;
}
.price:hover {
box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.price .header-1 {
background-color: #1c1f24;
color: white;
font-size: 25px;
}
.price li {
border-bottom: 1px solid #eee;
padding: 20px;
text-align: center;
}
.price .grey {
background-color: #2c353c;
font-size: 20px;
color: white;
}
.button3 {
background-color: #00acac;
border: none;
padding: 10px 25px;
text-align: center;
text-decoration: none;
font-size: 18px;
color: white;
}
.ref1{
background-color: black;
color:#00acac;
width:100px;
text-align: center;
border-radius: 8px;
margin-left: 35%;
}
.best-wall{
background-image: url('assect/image/bestwall.jpg');
background-size: cover;
background-position: bottom;
height: auto;
width: 100%;
position: relative;
align-items: center;
text-align: center;
color: rgb(180,180,180,255);
background-attachment: scroll;
}
.ref2-div{
width: 50%;
}
.take-am{width: 100%;}

.faq{
width: 100%;
display: flex;
background-image: url('assect/image/faq.jpg');
background-size: cover;
background-position: bottom;
color:rgb(180,180,180,255) ;
height: auto;
background-repeat: repeat;
}
.faq-con{
width: 100%;
display: flex;
margin: 50px;
height: auto;
}
.faq-1{
width: 100%;
}
.faq-2{
width: 100%;
}

input[type='submit'] {
background-color:rgb(4, 171, 171);
border: none;
border-radius: 10px;
padding: 15px 15px;
font-weight: bold;
color: black;
margin: 0;
width:300px
}
input[type='text'], input[type='email'] {
border: 1px solid #2F5A78;
width: 300px;
padding: 15px;
margin:0;
background-color: #cccccc;

}
input[type='textarea'] {
border: 1px solid #2F5A78;
width: 300px;
padding: 60px;
margin:0;
background-color: #cccccc;
}


.contact-1{
width: 100%;
}
.form-1{
width: 100%;
}
.main-contact{
width: 100%;
}
footer{
width: 100%;
height: 100%;
background-color: rgba(34,40,45,255);
text-align: center;
padding: 70px;
color: #ccc;
}
.footer-1{
width: 100%;
}
@media (min-width:760px) and (max-width:1030px){
.spin1{
width: 100%;
}
.intro{
color: rgb(53, 176, 176);
font-size: 40px;
}
.short{
width: 100%;
}
.about-con{
flex-direction: column;
width: 100%;
}
.about-1{
width: 100%;
}
.about-2{
width: 100%;
}



}
@media (max-width:600px) {
.spin1{
width: 100%;
}
.intro{
color: rgb(53, 176, 176);
font-size: 40px;
}
.short{
width: 100%;
}

.about-con{
flex-direction: column;
width: 100%;
}
.about-1{
width: 100%;
}
.about-2{
width: 100%;
}
.columns {
width: 100%;
}
#coinlib-widget{
width: 100%;
}
.ref2-div{
width: 100%;
}
.best-wall{
width: 100%;
}
.cont-2,.cont-3{
width: 100%;
}
.take-am{
width: 100%;
}
.main-contact{
width: 100%;
}
.contact-1{
width: 100%;
}
.form-1{
width: 100%;
}
input[type='submit'] {
margin:0 0 0 0;
}
input[type='text'], input[type='email'] {
margin:0 0 0 0;
}
input[type='textarea'] {
margin:0 0 0 0;
}
.footer-1{
width: 100%;
}
footer{
width: 100%;
}
}
