
.home{
height: 820px; /* Full viewport height */
background: url('assect/image/cryptoimg.jpg') fixed ;
background-size: cover;
display: flex;
position:relative;
justify-content:center;
align-items:center;
width: 100%;

}
header{
background-color: #242323;

}
.nav-link{
color: aliceblue !important;
}
.crypto{
color: aliceblue;
}
.navbar-content{
padding:1% 1% 1% 8%;

}
.spin {
animation: spin 5s linear infinite;
border-radius: 70%;
}

@keyframes spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
.cryptohome {
text-align: center;
width: 100%;
}

.home-1{
display: flex;
}
h2 {
color: aliceblue;
}
.reg {
border-color: black;
color: white;
background-color: rgb(4, 171, 171);
}
.reg:hover {
background-color: rgb(53, 176, 176);
color: black;
}
h1{
color: aliceblue;
}
.intro{
color: rgb(53, 176, 176);
font-size: 80px;
}
.button {
border: 2px solid ;
color: black;
padding: 14px;
font-size: 16px;
cursor: pointer;
border-radius: 12px
}
/* Green */
.sign {
border-color: white;
color: white;
background-color: rgba(0, 0, 0, 0.5);
}
.sign:hover {
background-color: white;
color: black;
}
.bar-toggler{
background-color: aliceblue;
}
hr{
border-style: 15px;
border-color: black;
border-width:2px 0 0 0 ;
height: 1px;
width: 40px;
margin: 1% 0 4% 48%;
}

.about{
margin: 0;
}
.about-con{
width: 100%;
display: flex;
margin: 0;
}
.about-1{
width: 50%;
}
.about-2{
width: 100%;
height: 70%;
}
iframe{
width: 100%;
height: 100%;
}
.spin1{
width: 50%;

}
.wall{
background-image: url('assect/image/pablowall.jpg') ;
}
.tro{
color:rgb(4, 171, 171);
}
.columns {
float: left;
width: 33.3%;
padding: 8px;

}

.price {
list-style-type: none;
border: 1px solid #ccc;
margin: 0;
padding: 0;
-webkit-transition: 0.3s;
transition: 0.3s;
background-color: rgb(204, 204, 204,255);
}

.price:hover {
box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header-1 {
background-color: #111;
color: white;
font-size: 25px;
}

.price li {
border-bottom: 1px solid #eee;
padding: 20px;
text-align: center;
}

.price .grey {
background-color: #eee;
font-size: 20px;
}

.button3 {
background-color: cyan;
border: none;
padding: 10px 25px;
text-align: center;
text-decoration: none;
font-size: 18px;
}
.best-wall{
background-image: url('assect/image/bestwall.jpg');
background-size: cover;
background-position: bottom;
height: auto;
width: 100%;
position: relative;
align-items: center;
text-align: center;
color: rgb(180,180,180,255);
background-attachment: scroll;
}
.ref1{
background-color: black;
color:cyan;
width:100px;
text-align: center;
border-radius: 8px;
margin-left: 35%;

}
.faq{
width: 100%;
display: flex;
background-image: url('assect/image/faq.jpg');
background-size: cover;
background-position: bottom;
color:rgb(180,180,180,255) ;
height: auto;

}
.faq-con{
width: 100%;
display: flex;
margin: 50px;
height: auto;
}
.faq-1{
width: 100%;

}
.faq-2{
width: 100%;

}
h3{
text-align: center;
}

input[type='submit'] {
background-color:cyan;
border: none;
border-radius: 10px;
padding: 15px 15px;
font-weight: bold;
color: black;
margin:0 10px 5px 70px;
width:300px

}
input[type='text'], input[type='email'] {
border: 1px solid #2F5A78;
width: 300px;
padding: 15px;
margin:0 10px 5px 25px;
}

input[type='textarea'] {
border: 1px solid #2F5A78;
width: 300px;
padding: 50px;
margin:0 10px 5px 13px;
}
footer{
width: 100%;
height: 100%;
background-color: rgba(34,40,45,255);
text-align: center;
padding: 70px;
color: #ccc;
}
.contact{
margin: 70px;
display: flex;
width: 100%;
}
.contact-1{
width: 100%;

}
.contact-2{
width: 100%;
}


@media (max-width:600px) {
.home-1{
flex-direction: column;
}
.spin1{
width: 100%;
}
.intro{
color: rgb(53, 176, 176);
font-size: 40px;
}
.about-con{
flex-direction: column;
width: 100%;
}
.about-1{
width: 100%;
}
.about-2{
width: 100%;
}
.columns {
width: 100%;
}
}

